<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PropertyGridTest.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <PropertyGridTest.Properties.Settings>
            <setting name="MainFormState" serializeAs="String">
                <value>Normal</value>
            </setting>
            <setting name="PhoneNumbersCollectFormState" serializeAs="String">
                <value>Normal</value>
            </setting>
            <setting name="PostList" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>Уборщик</string>
                        <string>Директор</string>
                        <string>Инженер</string>
                        <string>Начальник отдела</string>
                        <string>Начальник сектора</string>
                        <string>Секретарь</string>
                        <string>Заместитель директора</string>
                    </ArrayOfString>
                </value>
            </setting>
        </PropertyGridTest.Properties.Settings>
    </userSettings>
</configuration>